@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

:root {
  //COLOR SCHEME FROM TYPEMONKEY
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

/*# sourceMappingURL=style.css.map */
html {
  font-size: 16px;
}

*{
  transition: all 0.1s ease-out;
}

body {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 1.6rem;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  color: var(--main-color);
}

nav {
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
}

li,
a {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text-color);
  text-decoration: none;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-grow: 0;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav_links li {
  padding: 0 1em;
  margin: auto;
}

.nav_links li a {
  display:flex;
  flex-direction: column;
  text-align: center;
}

.nav_links li a:hover {
  color: var(--caret-color);
}
.nav_links li a:hover .icons{
  fill: var(--caret-color);
}

.nav_links li a[active = true] {
  text-decoration: underline;
}


.icons{
  height: 4em;
  color: var(--sub-color);
  fill: var(--sub-color);
  margin: auto;
}

main {
  margin: auto;
}
.pots {
  width: 10vw;
  max-width: 30vh;
  margin: 0.4em;
}
.pots:not(.empty) {
  cursor: pointer;
  user-select: none;
}
.pots-container {
  display: flex;
  justify-content: center;
}

.controlbar {
  padding: 2em;
  background-color: var(--sub-color);
}

/*loader*/

#loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader img{
  width: 200px;
}

#loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.shake{
  animation: shake 0.5s forwards;
}
.darken{
  filter: brightness(0.8);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}