@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
html {
  font-size: 16px;
}

* {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

body {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

#title {
  font-size: 1.6rem;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  color: var(--main-color);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li,
a {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text-color);
  text-decoration: none;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.nav_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_links label {
  padding: 1em;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  cursor: pointer;
}

.nav_links label:hover,
.nav_links [type="radio"]:checked ~ p {
  color: var(--caret-color);
}

.nav_links label:hover .icons,
.nav_links [type="radio"]:checked ~ .icons {
  fill: var(--caret-color);
}

.icons {
  height: 4em;
  color: var(--sub-color);
  fill: var(--sub-color);
  margin: auto;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pots {
  width: 10vw;
  max-width: 30vh;
  margin: 0.4em;
}

.pots:not(.empty) {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controlbar {
  padding: 2em;
  background-color: var(--sub-color);
}

.sidebar {
  display: none;
  min-width: 24em;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--sub-color);
  -webkit-box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2);
          box-shadow: inset 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.sidebar > div {
  font-weight: bolder;
  text-align: center;
  padding: 2em 1em;
  cursor: pointer;
}

.sidebar > div:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.keyMap {
  pointer-events: none;
  position: absolute;
  margin: 0;
  top: -1.2em;
}

/*loader*/
#loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loader img {
  width: 200px;
}

#loader.hidden {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.shake {
  -webkit-animation: shake 0.5s forwards;
          animation: shake 0.5s forwards;
}

.darken {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */