@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#title {
  font-family: "Lobster", sans-serif;
  font-size: 2rem;
  margin-left: -2em;
  text-align: center;
  color: var(--main-color);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--text-color);
  text-decoration: none;
}

.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.nav_links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_links li {
  padding: 0 1em;
  margin: auto;
}

.nav_links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: var(--caret-color);
}

main {
  margin: auto;
}

.pots {
  width: 10vw;
  max-width: 30vh;
  margin: 0.4em;
}

.pots:not(.empty) {
  cursor: pointer;
}

.pots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controlbar {
  padding: 2em;
  background-color: var(--sub-color);
}
/*# sourceMappingURL=style.css.map */

/*loader*/

#loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
}

#loader img{
  width: 200px;
}

#loader.hidden{
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
